@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hamburger {
  display: none !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 9999;
}
.hamburger .bar {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 3px;
  transition: all 0.5s;
}
.hamburger .bar:nth-child(1) {
  transform: translateY(-10px);
  width: 20px;
  left: 10px;
}
.hamburger .bar:nth-child(2) {
  transform: translateY(10px);
  width: 15px;
  left: 10px;
}
.hamburger.active .bar {
  margin-top: 25px;
  background: red;
}
.hamburger.active .bar:nth-child(1) {
  width: 30px;
  transform: translateY(0) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  width: 30px;
  transform: translateY(0) rotate(315deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateX(60px);
}

.header img {
  display: none;
}

.menu-mb {
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  width: 50%;
  height: 100%;
  background-color: #3c9d3e;
  padding-top: 60px;
  transition: left 0.5s ease;
  z-index: 1000;
}

.menu-mb.active {
  left: 0;
}

.menu-mb li {
  list-style-type: none;
  padding: 10px 15px;
}

.menu-mb li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu-mb li a:hover {
  background: none;
  color: #d1db91;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 100;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
}

@media only screen and (max-width: 46.1875em) {
  .autoplay img {
    margin-top: 50px;
  }
  .slick-arrow.slick-prev, .slick-arrow.slick-next {
    margin-right: 20px;
  }
  .header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.395);
    z-index: 9999;
    display: flex !important;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
  }
  .header img {
    margin-left: 25%;
    width: 80px;
    display: block !important;
  }
  .hamburger {
    display: flex !important;
  }
  .logo-mb {
    z-index: 1;
    margin: 0 auto;
    display: block !important;
  }
  .sidebar {
    display: none !important;
  }
  .recruitment .recruitment-box {
    margin-bottom: 20px;
  }
  .icon-home {
    display: none !important;
  }
  .autoplay {
    padding: 0 !important;
  }
  .hr1::after {
    width: 25% !important;
  }
  .social-media-icons a {
    display: none !important;
  }
  .active {
    display: block !important;
  }
  .recruitment {
    display: block !important;
  }
  .footer-content {
    display: block !important;
  }
  footer .footer-content .footer-left,
  footer .footer-content .footer-right {
    width: 100% !important;
  }
  footer .footer-content .footer-right {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .col-md-2 img {
    width: 135px !important;
  }
  .sidebar {
    display: none !important;
  }
  .autoplay img {
    margin-top: 50px;
  }
  .slick-arrow.slick-prev, .slick-arrow.slick-next {
    margin-right: 20px;
  }
  .header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.395);
    z-index: 9999;
    display: flex !important;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
  }
  .header img {
    margin-left: 40%;
    width: 80px;
    display: block !important;
  }
  .hamburger {
    display: flex !important;
  }
  .logo-mb {
    z-index: 1;
    margin: 0 auto;
    display: block !important;
  }
  .menu-button {
    display: block !important;
  }
  .col-md-4 {
    width: 80% !important;
    height: 500px;
    margin: 0 auto;
  }
  .active {
    display: block !important;
  }
  .recruitment {
    display: block !important;
  }
  .recruitment .recruitment-box {
    margin-bottom: 20px !important;
  }
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo-mb {
  display: none;
}

.social-media-icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}
.social-media-icons a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.395);
  display: block;
  border-radius: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.social-media-icons a i {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.social-media-icons.zl {
  border-radius: none;
  box-shadow: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.155);
}

.logo {
  width: auto;
  height: 60px;
  margin-right: 20px;
}

.icon-home i {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.menu .nav-item {
  margin-right: 10px;
  flex: 1 1 auto;
  text-align: center;
}
.menu .nav-item a {
  font-weight: bold;
  font-size: 14px;
  color: #2d8b37;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  width: 100%;
}
.menu .nav-item a:hover {
  background-color: #d6d5d5;
  border-radius: 5px;
}

.autoplay {
  width: 100%;
  margin: 0 auto;
}
.autoplay img {
  width: 100%;
  display: block;
}

.row {
  justify-content: center;
}

.box-slick {
  width: 81% !important;
  margin: 0 auto;
  display: block;
}

.p-2 {
  height: 250px;
}
.p-2 p {
  margin-top: 20px;
}

.col-md-2 {
  border: #e7e7e7 solid 1px;
  border-radius: 10px;
  margin-left: 25px;
}
.col-md-2 img {
  width: 175px;
  height: 45px;
}
.col-md-2 a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.col-md-2 p {
  font-size: 12px;
  color: #000;
  text-align: justify;
}

.big-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #2d8b37;
}

.hr1,
.hr2,
.hr3,
.hr4,
.hr5 {
  border: none;
  height: 2px;
  background-color: transparent;
  position: relative;
}
.hr1::before,
.hr2::before,
.hr3::before,
.hr4::before,
.hr5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  background-color: #e7e7e7;
}
.hr1::after,
.hr2::after,
.hr3::after,
.hr4::after,
.hr5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2d8b37;
}

.hr1::after {
  width: 10%;
}

.hr2::after {
  width: 30%;
}

.hr3::after {
  width: 49%;
}

.hr4::after {
  width: 35%;
}

.hr5::after {
  width: 15%;
}

.certification {
  width: 80% !important;
  margin: 0 auto;
  display: block;
}

.certification-box {
  margin-left: 25px;
}

.col-md-3 img {
  margin: 0 auto;
  width: 65%;
  height: 65%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.col-md-3 p {
  font-size: 14px;
  color: #010101;
  text-align: center;
}

.slick-arrow {
  font-size: 20px !important;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}
.slick-arrow.slick-prev {
  left: -5%;
}
.slick-arrow.slick-prev, .slick-arrow.slick-next {
  background: rgba(255, 255, 255, 0) !important;
  color: #c5d557;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}

.active {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.active-box {
  display: flex;
}
.active-box a {
  padding-top: 3px;
  margin-top: 34px;
  font-size: 12px;
  background: linear-gradient(to right, #2d8b37, #c5d557);
  color: white;
  width: 92px;
  height: 23px;
  margin-left: 20px;
  text-decoration: none;
  border-radius: 50dvh;
  text-align: center;
}

iframe {
  border-radius: 10px;
}

.news-item {
  display: flex;
  align-items: flex-start;
}
.news-item img {
  border-radius: 10px;
  width: 100px;
  height: 75px;
  margin-right: 10px;
}
.news-item .news-content {
  margin-left: 10px;
}
.news-item .news-content a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.col-md-8 {
  justify-content: center;
}

.hr6 {
  color: #939393;
  width: 80%;
}

#product-row {
  margin: 0 auto;
  justify-content: center;
}

.product-detail {
  display: flex;
}
.product-detail img {
  width: 20%;
  border-radius: 100px;
}
.product-detail a {
  width: 150px;
  color: #2d8b37;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.img-product {
  width: 70%;
}

#news {
  margin: 0 auto;
  justify-content: center;
}

.img-news {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  width: 90%;
  height: 70%;
}

.news-box {
  margin-right: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.news-box p {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
}
.news-box a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #2d8b37;
}

.recruitment {
  justify-content: center;
  display: flex;
}
.recruitment .recruitment-box {
  margin-left: 20px;
  display: flex;
}

.info {
  margin-left: 5px;
}
.info p {
  font-size: 12px;
  margin-bottom: 0;
}
.info .title {
  font-size: 14px;
  font-weight: bold;
}

.icon-company i {
  border-radius: 10px;
  background-color: #dff6e5;
  text-align: center;
  font-size: 40px;
  padding: 15px;
}

footer {
  background-color: #f8f8f8;
  width: auto;
  padding-top: 5%;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
footer .footer-content .footer-left,
footer .footer-content .footer-right {
  width: 50%;
}
footer .footer-content .footer-logo {
  width: 120px;
  margin-bottom: 10px;
}
footer .footer-content .footer-left h2,
footer .footer-content .footer-right h2 {
  color: #2d8b37;
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
}
footer .footer-content .footer-left p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}
footer .footer-content .footer-right ul {
  list-style: none;
  padding: 0;
}
footer .footer-content .footer-right ul li {
  margin-bottom: 5px;
}
footer .footer-content .footer-right ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
footer .footer-content .footer-right {
  padding-top: 8.5%;
  padding-left: 25%;
}/*# sourceMappingURL=index.css.map */