@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$color-text: #373435;
$color-name: #2d8b37;



@media only screen and (max-width: 46.1875em) {
  .logo-mb{
    margin: 0 auto;
    display: block !important;
  }
  .logo-mb img{
    width: 100px;
    position: absolute;
    margin-left: -40px;
  }

  .sidebar{
    display: none !important;
  }

  .menu-button {
    display: block !important;
}
  .icon-home {
    display: none !important;
  }

  .products .product-row .product img {
    width: 20% !important;
    height: auto !important;
    border-radius: 50px !important;
  }

  .products .product-row img {
    width: 200px !important;
    height: 200px !important;
  }

  .path {
    margin-top: 60px !important;
  }

  .slick-arrow {
    right: -13% !important;
    top: 50% !important;
  }

  .slick-prev {
    left: -5% !important;
    top: 50% !important;
  }

  .filter-container {
    display: block !important;
    margin: 0 !important;
  }

  .filter-container .filter-right {
    width: 200px;
  }

  .filter-container .filter-left {
    margin-right: 0px !important;
    margin-bottom: 15px;
  }

  .menu .nav-item a {
    font-weight: normal !important;
    font-size: 12px !important;
    padding: 0 !important;
    margin-bottom: 4px !important;
    display: table-cell !important;
    width: 100%;
  }

  .icon-bars {
    cursor: pointer;
    list-style: none;
    font-size: 25px;
    padding: 5px;

    i {
      color: #000;
    }
  }

  .autoplay {
    padding: 0 !important;
  }

  .hr1::after {
    width: 25% !important;
  }

  .social-media-icons a {
    display: none !important;
  }

  .footer-content {
    display: block !important;
  }

  footer .footer-content .footer-left,
  footer .footer-content .footer-right {
    width: 100% !important;
  }

  footer .footer-content .footer-right {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 46.25em) and (max-width: 1024px) {
  .logo-mb{
    margin: 0 auto;
    display: block !important;
  }
  .logo-mb img{
    width: 100px;
    position: absolute;
    margin-left: -40px;
  }

  .col-md-2 img {
    width: 135px !important;
  }

  .col-md-4 {
    width: 100% !important;
    height: 500px;
  }

  .sidebar{
    display: none !important;
  }

  .menu-button {
    display: block !important;
}
  .active {
    display: block !important;
  }

  .recruitment .recruitment-box{
    margin-bottom: 20px !important;
  }
  .recruitment {
    display: block !important;
  }

  .filter-container {
    justify-content: none;
    padding: 0;
  }
  .filter-container .filter-icon{
    padding: 2px;
    text-align: center;
    width: 80px;
  }
  .filter-container .filter-right{
    margin-right: 0 !important;
  }

  .path {
    margin-top: 60px !important;
  }

  .menu .nav-item a {
    font-weight: normal !important;
    font-size: 12px !important;
    padding: 0 !important;
    margin-bottom: 4px !important;
    display: table-cell !important;
    width: 100%;
  }

  .social-media-icons {
    display: none !important;
  }
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  width: 98%;
}
.logo-mb{
  display: none;
}
.menu-mb {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #3c9d3e;
  padding-top: 60px;
  transition: left 0.5s ease;
  z-index: 1000;
}

.menu-mb.active {
  left: 0;
}

.menu-mb li {
  list-style-type: none;
  padding: 10px 15px;
}

.menu-mb li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu-mb li a:hover {
  background: none ;
  color: #c5d557;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  z-index: 99;
  transition: opacity 0.3s ease;
}

.overlay.active {
  display: block;
}
.menu-button {
  z-index: 9999 !important;
  display: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}


.sidebar {
  position: fixed;
  /* Giữ sidebar cố định khi cuộn */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.155);
  /* Thêm bóng đổ để nổi bật hơn */

  .logo {
    width: auto;
    height: 60px;
  }
}

.social-media-icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000;

  a {
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    border-radius: 50px;
    text-align: center;
    margin-top: 5px;
    width: 50px;
    height: 50px;

    i {
      font-size: 30px;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  /* Cho phép các mục tự xuống dòng khi không đủ chỗ */

  .icon-home i {
    font-size: 20px;
    color: $color-text;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
  }

  .nav-item {
    margin-right: 10px;
    flex: 1 1 auto;
    text-align: center;
  }

  li a {
    font-weight: bold;
    font-size: 14px;
    color: $color-name;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    width: 100%;

    &:hover {
      background-color: #f4f4f4;
      border-radius: 5px;
    }
  }
}

.path {
  margin-top: 5%;
  background-color: #f4f4f4;
  padding: 10px;

  #icon-right {
    font-size: x-small;
    color: $color-text;
    margin: 0;
    margin-right: 10px;
  }

  i {
    margin-right: 10px;
    color: $color-text;
    list-style: none;
    margin-left: 18%;
  }

  a {
    text-decoration: none;
    color: $color-text;
  }
}

.filter-container {
  color: $color-text;
  margin-left: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .filter-left {
    margin-right: 20%;
    display: flex;
    gap: 10px;

    a {
      text-decoration: none;
      color: $color-text;
    }
  }

  .filter-right {
    padding: 2px;
    border: 1px #ccc solid;
    border-radius: 50px;
    margin-right: 20%;
    display: flex;
    align-items: center;

    select {
      border: none;
    }

    a {
      text-decoration: none;
      color: $color-text;
    }
  }

  select {
    border-radius: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px #ccc solid;
  }

  .filter-icon {
    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 14px;
    align-items: center;
    padding: 5px;
  }
}

#prodcuts-box {
  margin-top: 50px;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap; // Tự động xuống hàng khi có hơn 4 sản phẩm
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;

  .product-row {
    flex: 0 0 20%; // Mỗi product-row chiếm  >20%, <25% ( margin + padding) chiều rộng (để có thể hiển thị 4 sản phẩm trên một dòng)
    box-sizing: border-box;
    margin: 25px;

    .product {
      display: flex;
      width: 90%;
      align-items: center;
      text-align: left;

      img {
        width: 20%;
        height: auto;
        border-radius: 50px;
      }

      a {
        text-decoration: none;
      }

      p {
        color: $color-name;
        font-weight: bold;
        margin: 0 0 0 15px;
        font-size: 14px;

        &:hover {
          color: #19c406;
        }
      }
    }

    img {
      width: 100%;
      height: 200px;
      border-bottom: 2px solid #e7e7e7;
    }
  }
}

.hr1,
.hr2 {
  border: none;
  height: 2px;
  background-color: transparent;
  position: relative;
}

.hr1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  background-color: #e7e7e7;
}

.hr1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #2d8b37;
}

.hr2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  background-color: #e7e7e7;
}

.hr2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: #2d8b37;
}

.row {
  justify-content: center;
}

.box-slick {
  width: 81% !important;
  margin: 0 auto;
  display: block;
}

.col-md-2 {
  border: #e7e7e7 solid 1px;
  border-radius: 10px;
  margin-left: 25px;

  .p-2 {
    height: 260px;
  }

  img {
    width: 175px;
    height: 45px;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    color: $color-text;
  }

  p {
    font-size: 12px;
    color: $color-text;
    text-align: justify;
  }
}

.big-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: $color-name;
}

.certification {
  width: 80% !important;
  margin: 0 auto;
  display: block;

  .certification-box {
    margin-left: 25px;

    .p-2 {
      height: 250px;
    }
  }
}

.col-md-3 {
  img {
    margin: 0 auto;
    width: 65%;
    height: 65%;
    object-fit: scale-down;
  }

  p {
    margin-top: 20px;
    font-size: 14px;
    color: $color-text;
    text-align: center;
  }
}

.slick-arrow {
  font-size: 20px !important;
  position: absolute;
  top: 45%;
  right: -5%;
  transform: translateY(-50%);
}

.slick-prev {
  font-size: 20px !important;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
}

.slick-prev,
.slick-next {
  background: #ffffff !important;
  color: #c5d557;
  border: none;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}

footer {
  margin-top: 5%;
  background-color: #f8f8f8;
  width: auto;
  padding-top: 5%;

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

    .footer-left,
    .footer-right {
      width: 50%;

      .footer-logo {
        width: 120px;
        margin-bottom: 10px;
      }

      h2 {
        color: $color-name;
        font-size: 16px;
        margin: 10px 0;
        font-weight: bold;
      }
    }
  }
}

.footer-left .footer-left p {
  margin: 5px 0;
  font-size: 14px;
  color: $color-text;
}

.footer-right h2 {
  color: $color-name;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-right ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: $color-text;
      font-size: 14px;
    }
  }
}

.footer-right {
  padding-top: 8.5%;
  padding-left: 25%;
}
